@model List<_2009MYSSPSB1csharp.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="HomePage">Home</a>
        <a href="Login">Login</a>
        <a href="BooksCatalogue">All Books</a>
        <a href="Contact">Contact</a>

    </div>

    <div>
        <h1>Welcome to the Library!!!</h1>
    </div>
</body>
</html>
