@model List<_2009MYSSPSB1csharp.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="Main">Home</a>
        <a href="Admin">Login</a>
        <a href="Edisplay">Event Details</a>
        <a href="Contact">Contact</a>

    </div>

    <div>
        <h1>LIBRARY</h1>
    </div>
</body>
</html>
